// header style

.header {
    // background-color: aquamarine;
    width: 50%;
    height: 8vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo img {
        width: 50px;
        height: 50px;
    }

    .nav_bar {
        // background-color: brown;
        width: 460px;
        height: 8vh;

        .nav_menu {
            height: 8vh;
            list-style: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .nav_items {
                font-size: $Font_med;
                font-weight: $Font-semi;

                &:hover {
                    border-bottom: 2px solid $Organge;
                }

                a {
                    text-decoration: none;
                    color: $Black;
                }

                .home, .document, .work, .contact {
                    border-bottom: 2px solid $Organge;
                }
            }

            .contact {

                .box {
                    color: $White;
                    background-color: $Organge;
                    padding: 10px;
                    border-radius: 10px;
    
                    &:hover {
                        border-bottom: none;
                        background-color: $Black;
                        color: $Organge;
                    }
                }
            }
        }
    }
}

.main_home {
    // background-color: gray;
    height: 86vh;
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: $Font-lag;
        font-weight: $Font_bold;
        color: $Blue;
    }

    

$animationSpeed: 10s;

// Animation
@keyframes scrolls {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-450px * 6))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 320px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 460px;
	
	&::before,
	&::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 400px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scrolls $animationSpeed linear infinite running;
		display: flex;
		width: calc(450px * 6);
	}
	
	.slide {
		height: 100px;
		width: 450px;
	}

    .slide-2 {
        margin-left: 80px;
    }

    .slide-4 {
        margin-right: 180px;
    }

    .box {
        height: 320px;
        width: 450px;
    }

}
}

footer {
    // background-color: crimson;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: $Black;
        font-size: $Font_sm;
        font-weight: $Font-semi;

        span {
            color: $Blue;
        }
    }
}